
Final Project/Generated Images/bad1.jpg
Final Project/Generated Images/bad2.jpg
Final Project/Generated Images/bad3.jpg
Final Project/Generated Images/good1.jpg
Final Project/Generated Images/good2.jpg
Final Project/Generated Images/good3.jpg
